<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <springProfile name="wfo">
        <appender name="fileRolling" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>../customer-service-output.log</file>

            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <fileNamePattern>../customer-service-output-%d{yyyy-MM-dd}.%i.log.zip</fileNamePattern>
                <maxFileSize>5MB</maxFileSize>
            </rollingPolicy>

            <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                <pattern>%d %p %c [%t] %m%n</pattern>
            </encoder>
        </appender>

        <root level="info">
            <appender-ref ref="fileRolling"/>
        </root>
        <logger name="org.springframework.web" level="info"/>
    </springProfile>

</configuration>
