<div>

    <mat-toolbar>
        
        <mat-icon>menu</mat-icon>
        
        <span> Config server</span>
        <span class="example-spacer"></span>
        <button mat-stroked-button color="primary" aria-label="icon-button" value="Add Property">
            <mat-icon>add_box</mat-icon>            
        </button>
        <button mat-stroked-button color="primary">Primary</button>

        <button mat-stroked-button (click)="appManagement()" color="primary" aria-label="icon-button" value="Add Property">
            Application Management
        </button>

        <button mat-stroked-button (click)="propertyManagement()" color="primary" aria-label="icon-button" value="Add Property">
            Property Management
        </button>
        

    </mat-toolbar>
    <div id="div_app" *ngIf="isApplication">
        <app-application></app-application>    
    </div>
    
    <div id="div_property" *ngIf="isProperty">
        <mat-form-field appearance="fill" *ngFor="let empfilter of propFilters">
            <mat-label>{{ empfilter.name }}</mat-label>
            <mat-select
              [(value)]="empfilter.defaultValue"
              (selectionChange)="applyEmpFilter($event, empfilter)"
            >
              <mat-option *ngFor="let op of empfilter.options" [value]="op.name">
                {{ op.value }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <br />
    
        <table mat-table [dataSource]="dataSourceFilters" class="mat-elevation-z8" width="100%">
    
            <ng-container matColumnDef="application">
                <th mat-header-cell *matHeaderCellDef> Application </th>
                <td mat-cell *matCellDef="let element" nowrap> {{element.application}} </td>        
            </ng-container>
    
            <ng-container matColumnDef="profile">
                <th mat-header-cell *matHeaderCellDef> Profile </th>
                <td mat-cell *matCellDef="let element" nowrap> {{element.profile}} </td>
            </ng-container>
    
            <ng-container matColumnDef="key">
                <th mat-header-cell *matHeaderCellDef> Key </th>
                <td mat-cell *matCellDef="let element" nowrap> {{element.key}} </td>
            </ng-container>
                <ng-container matColumnDef="value">
                <th mat-header-cell *matHeaderCellDef> Value </th>
                <td mat-cell *matCellDef="let element" > {{element.value}} </td>
            </ng-container>
    
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element" > 
                    <i class="fa fa-edit"></i>
                    <a (click)="editProperty(element.id)" href="javascript:;" class="edit">
                        <mat-icon>edit</mat-icon>
                      </a>
                      &nbsp;
                      <a (click)="deleteProperty(element.id);" href="javascript:;" class="delete">
                        <mat-icon>delete_forever</mat-icon>
                      </a>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            
            <tr mat-row *matRowDef="let emprow; columns: displayedColumns"></tr> 
        </table>
    
        <mat-paginator #propPaginator [length]="totalRecords"
              [pageSize]="pageSize"
              [pageSizeOptions]="[10, 25, 100]"
              aria-label="Select page">
        </mat-paginator>
    </div>


    {{pageSize}} {{ totalRecords }}
</div>

  
      


<hr />


<div class="content p-0 background-none">
    <div class="tile-container">
      <div class="tile-body">
        <div class="tile-box" *ngFor="let element of propertyList" [ngClass]="{'inactive-box' : element.isActive == false}">
  

          <div class="name-with-email">
            <h4>{{element.key}}</h4>
            <p class="email-user"></p>
          </div>
          <div class="organization-role">
            <label>Organization Role </label>
            <p>{{element.value}}</p>
          </div>
          <div class="user-contact">
            <label>Contact</label>
            <p>{{element.application}}</p>
          </div>
          <div class="user-contact">
            <label>User Type</label>
            <p>{{element.profile}}</p>
          </div>
          <div class="user-created-by">
            <label>Created By</label>
            <p>{{element.application_id}}</p>
          </div>
        </div>
      </div>
    </div>

  </div>
  
